@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap";

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;  
    overflow-x: hidden;
    overflow-y: hidden;
}

.pagInicial { 
    position: relative;
    width: 325px; 
    height: 155px;
    margin: auto; 
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
}