<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Dengomeet</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="./styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>

    <div class="containerLogin">
        <div class="formlogin">

            <div id=logoTelaLogin>
                <img src="../../assets/dengomeet Logotipo.png" />
            </div>

            <div class="linkCrieConta">
                <span>Entre com sua conta. </p> Ou <a href="#">crie uma conta</a></span>
            </div>

            <form class="form-contact">
                <input type="text" class="form-contact-input" id="nome" placeholder="Usuário" required />
                <input type="password" class="form-contact-input" id="senha" placeholder="Senha" required />
                <button type="button" id='logar' class="form-contact-button">Entrar</button>
            </form>

            <div class="spanEsqueceuSenha">
                <span><a href="#">Esqueceu sua senha?</a></span>
            </div>

        </div>
    </div>

    <div class="modal-overlay">
        <div class="modal">
            <a class="close-modal" id="btnFechar">
                <i class="material-icons">close</i>
            </a>

            <div class="modal-content">
                <iframe src="" frameborder="0"></iframe>
            </div>
        </div>
    </div>

    <script src="../../scripts/scripts.js"></script>
    <script src="./script.js"></script>

</body>

</html>