<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Dengomeet</title>
    <meta charset="utf-8" />
    <link rel="manifest" href="../../manifest.webmanifest" crossorigin="use-credentials" />
    <link rel="icon" type="image/png" href="../../assets/appicons/favicon.ico" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-title" content="Dengomeet" />
    <link rel="apple-touch-icon" sizes="72x72" href="../../assets/appicons/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="../../assets/appicons/apple-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="../../assets/appicons/apple-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="../../assets/appicons/apple-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="../../assets/appicons/apple-icon-180x180.png" />
    <link rel="stylesheet" href="./styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>

    <div class="containerLogin">
        <div class="formlogin">

            <div id=logoTelaLogin>
                <img src="../../assets/dengomeet Logotipo.png" />
            </div>

            <div class="linkCrieConta">
                <span>Entre com sua conta. </p> Ou <a href="#">crie uma conta</a></span>
            </div>

            <form class="form-contact">
                <input type="text" class="form-contact-input" id="nome" placeholder="Usuário" required />
                <input type="password" class="form-contact-input" id="senha" placeholder="Senha" required />
                <button type="button" id='logar' class="form-contact-button">Entrar</button>
            </form>

            <div class="spanEsqueceuSenha">
                <span><a href="#">Esqueceu sua senha?</a></span>
            </div>

        </div>
    </div>

    <div class="modal-overlay">
        <div class="modal">
            <a class="close-modal" id="btnFechar">
                <i class="material-icons">close</i>
            </a>

            <div class="modal-content">
                <iframe src="" frameborder="0"></iframe>
            </div>
        </div>
    </div>

    <script src="../../scripts/scripts.js"></script>
    <script src="./script.js"></script>

</body>

</html>