@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap";

* {
    margin: 0;
    padding: 0;
    border: 0;
}


body {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;  
    overflow-x: hidden;
    overflow-y: hidden;
}

.containerLogin {
    width: 100vw;
    height: 100vh;
    background-image: url(../../assets/imagem\ de\ fundo.jpeg);
    /* opacity: .3; */
    display: flex;
}

/* Tela de login */

.formlogin {
    position: relative;
    height: 50%;
    width: 80%;
    background-color: rgb(255, 255, 255);
    margin: auto; 
}

#logoTelaLogin {
    position: relative;
    margin: 30px auto;
    width: 100%;
    height: 20%;
    background-color: rgb(255, 255, 255);
}

#logoTelaLogin img {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.linkCrieConta {
    position: relative;
    padding-top: 5px;
    width: 100%;
    text-align: center;
    color: black;
    background-color: rgb(255, 255, 255);
}


/* form da tela de login */

.form-contact {
    position: relative;
    margin-top: 20px;
    margin-left: auto;
    width: 80%;
    display: block;
}

.form-contact-input {
    width: 80%;
    color: #292929;
    font-size: 18px;
    background-color: white;
    border: 1px solid #E9E9E9;
    -moz-border-radius: 4px;
    -webkit-border-radius: 42px;
    border-radius: 0px;
    height: 35px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    text-indent: 20px;
}

.form-contact-button {
    width: 80%;
    font-size: 18px;
    border-radius: 0px;
    color: #fff;
    height: 35px;
    opacity: .8;
    margin-bottom: 20px;
    cursor: pointer;
    background: #4423CF;
    display: block;
    border: none;
}

.form-contact-button:hover {
    background: #8579F2;
}

.spanEsqueceuSenha {
    position: relative;
    width: 100%;
    margin-left: auto;
    text-align: center;
}

/*=== MODAL ===*/

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modal {
    background-color: white;
    width: 95%;
    height: 90%;
    margin: 5vh auto;
    position: relative;
    border-radius: 18px 18px 0px 0px;
    display: flex;
}

.modal .close-modal {
    color: black;
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
}

/*=== MODAL.ACTIVE ===*/
.modal-overlay.active{
    opacity: 1;
    visibility: visible;
}

iframe {
    width: 100%;
    height: 90%;
    position: absolute;
    top: 5%;
}
