<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Dengomeet</title>
    <link rel="stylesheet" href="./styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>

    <div class="container">
        <div class="formNovoUser">

            <div id=logoTelaNovoUser>
                <img src="../../assets/dengomeet Logotipo.png" />
            </div>

            <div class="form-novoUser">
                <form action="#" method="post">
                    <input type="text" class="form-novoUser-input" name="nome" placeholder="Nome de usuário" required />
                    <input type="text" class="form-novoUser-input" name="email" placeholder="Endereço de email"
                        required />
                    <input type="password" class="form-novoUser-input" name="senha" placeholder="Senha" required />
                    <input type="password" class="form-novoUser-input" name="senhaConfirmacao"
                        placeholder="Confirmação de senha" required />
                    <input type="date" class="form-novoUser-input" name="dataNascimento" required />
                    <input type="checkbox" id="receberEmail" name="receberEmail" value="Boat">
                    <label class="form-novoUser-check" for="receberEmail">Desejo receber novidades e notícias por
                        email</label>
                    <button type="submit" class="form-novoUser-button">Confirmar registro</button>
                </form>

            </div>

        </div>
    </div>

</body>

</html>